.peliculas-container{
    margin: auto;
}

.wrapper{
    margin: auto;
    text-align: center;
}

.form-1 .form-control-select{
    min-width: 12rem ;
    margin: 1rem;
}

.wrapper .form-1 .form-control-nombre {
    margin: 1rem;
}
